.pizza-footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

.pizza-navmenu {
    display: none;
}

@media (max-width: 700px){
    .pizza-footer{
        display: none;
    }
}
