.pizza-container{
    display: none;
}

@media (max-width: 700px){
    .pizza-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }
    .pizza-profile {
        width: 52px;
        height: 52px;
        text-align: left;
        margin: 10px;
        border-radius: 50%;
    }
    .pizza-hello {
        width: 90%;
        margin: auto;
        font-family: 'Roboto', serif;
        font-size: 20px;
        font-weight: 600;
        color: var(--text-primary);
    }
    .pizza-hello span {
        font-family: 'Roboto', serif;
        font-weight: 600;
        color: var(--button-primary);
    }
    .pizza-search {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 10px auto;
        background-color: var(--field-primary);
        height: 40px;
        border-radius: 15px;
        padding: 4px;
    }
    .pizza-search input {
        background-color: var(--field-primary);
        padding: 10px;
        width: 100%;
    }
}
