@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.pizza-navmenu {
    display: none;
}
.pizza-navmenu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pizza-menu-active {
    font-family: 'Roboto Condensed', serif;
    font-weight: 600;
    color: var(--button-primary);
}

@media (max-width: 700px){
    .pizza-navmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 8px auto 0;
        padding: 12px 0;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: #ffffff;
        font-family: 'Roboto Condensed', serif;
        font-weight: 600;
        color: var(--button-secondary);
        font-size: 20px;
    }
}
