.pizza-navmenu {
    display: none;
}
.pizza-navmenu img {
    margin: 3px auto 0;
}

.pizza-menu-active {
    font-family: 'Roboto Condensed', serif;
    font-weight: 600;
    border-top: 5px solid var(--text-special);
    border-bottom: 5px solid var(--text-special);;
}

@media (max-width: 700px){
    .pizza-navmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0 4px;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: #ffffff;
        font-family: 'Roboto Condensed', serif;
        font-weight: 600;
        color: var(--button-secondary);
        font-size: 16px;
    }
}
