.pizza-desktop{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.pizza-desktop img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.pizza-logo{
    display: flex;
    flex-direction: row;
}
.pizza-logo-name{
    margin-left: 10px;
}
.pizza-logo-name h1 {
    font-family: 'Roboto', serif;
    font-size: 24px;
    font-weight: 500;
}
.pizza-logo-name p{
    font-family: 'Roboto Condensed', serif;
    font-size: 16px;
}

@media (max-width: 700px){
    .pizza-desktop{
        display: none;
    }
}
